<br>
<br>
<br>
<div class="container">
  <div class="row align-items-center">
    <div class="col-4">
      <img class="card-img-top" src="{{targetUser.image}}" alt="Card image cap" width="200px">
    </div>
    <div class="col-8">
      <h1><b>{{targetUser.name}}</b></h1>
      <h4>{{targetUser.email}}</h4>
      <ul>
        <li><b>{{Restaurants.length}}</b> restaurants that you commented</li>
        <li><b>{{targetUser.FavoriteRestaurants.length}}</b> favorite restaurants</li>
        <li><b>{{targetUser.Followings.length}}</b> users you follow</li>
        <li><b>{{targetUser.Followers.length}}</b> follows you</li>
      </ul>
      <br />
      {{#if isSameUser}}
      <a href="/users/{{targetUser.id}}/edit">
        <button type="button" class="btn btn-primary">Edit Profile</button>
      </a>
      {{/if}}
    </div>
  </div>
  <br>
</div>
<br>
<br>
<br>

<div class="container">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <span>Total <b>{{targetUser.Comments.length}}</b> comments for <b>{{Restaurants.length}}
            </b> restaurants below:</span>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-start flex-wrap">
            {{#each Restaurants}}
            <div class="col-2">
              <a href="/restaurants/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"
                  width="100px"></a>
              <a href="/restaurants/{{this.id}}">
                <h6 class="mt-2">{{this.name}}</h6>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <b>{{targetUser.FavoriteRestaurants.length}}</b> favorite restaurants</span>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-start flex-wrap">
            {{#each targetUser.FavoriteRestaurants}}
            <div class="col-2">
              <a href="/restaurants/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"
                  width="100px"></a>
              <a href="/restaurants/{{this.id}}">
                <h6 class="mt-2">{{this.name}}</h6>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <b>{{targetUser.Followings.length}}</b> followings</span>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-start flex-wrap">
            {{#each targetUser.Followings}}
            <div class="col-2">
              <a href="/users/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"
                  width="100px"></a>
              <a href="/users/{{this.id}}">
                <h6 class="mt-2">{{this.name}}</h6>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <b>{{targetUser.Followers.length}}</b> followers</span>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-start flex-wrap">
            {{#each targetUser.Followers}}
            <div class="col-2">
              <a href="/users/{{this.id}}"><img class="card-img-top" src="{{this.image}}" alt="Card image cap"
                  width="100px"></a>
              <a href="/users/{{this.id}}">
                <h6 class="mt-2">{{this.name}}</h6>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-2" style="text-align: center">
    <a href="javascript:history.back()">Back</a>
  </div>
</div>